<div id="chat-icon">
    <img src="~/customer/images/beee.png" alt="Chatbot">
</div>

<div id="chat-container">
    <div id="chat-header">
        <span>Chatbot</span>
        <button id="close-chat">&times;</button>
    </div>
    <div id="chat-body"></div>

    <div id="chat-options">
        <button class="chat-option" data-chat="ai"><i class="bi bi-robot"></i> Chat AI</button>
        <button class="chat-option" data-chat="admin"><i class="bi bi-person-workspace"></i> Chat Admin</button>
    </div>

    <div id="chat-footer">
        <input type="text" id="chat-input" placeholder="Nhập tin nhắn...">
        <button id="send-btn"><i class="bi bi-arrow-right-circle-fill"></i> Gửi</button>
    </div>
</div>


<link href="~/customer/css/chat.css" rel="stylesheet" />
<script src="~/customer/js/chat.js"></script>




