<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-5 bg-secondary">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav me-auto">
                <li class="nav-item m-sm-2 fs-6 text-light d-sm-flex">
                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-chevron-left pe-sm-3"></i>
                    </a>Back
            </ul>
        </div>
    </div>
</nav>