@using Toeic.Utility

<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-5 bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand text-d disable fw-bolder fs-4">TOEIC <i class="bi bi-highlighter"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
            <ul class="navbar-nav me-auto">
                <li class="nav-item m-sm-2 fs-6 fw-bold text-d">
                    <a href="#" class="nav-link nav-linkH active" id="homeLink">
                        <i class="bi bi-house-door-fill fst-normal"> Home</i>
                    </a>
                </li>
                <li class="nav-item m-sm-2 fs-6 fw-bold text-d">
                    <a href="#" class="nav-link nav-linkH" id="vocabularyLink">
                        <i class="bi bi-translate fst-normal"> Vocabulary</i>
                    </a>
                </li>
                <li class="nav-item m-sm-2 fs-6 fw-bold text-d">
                    <a href="#" class="nav-link nav-linkH" id="grammarLink">
                        <i class="bi bi-book fst-normal"> Grammar</i>
                    </a>
                </li>
                <li class="nav-item m-sm-2 fs-6 fw-bold text-d">
                    <a href="#" class="nav-link nav-linkH" id="articleLink">
                        <i class="bi bi-layers fst-normal"> Article</i>
                    </a>
                </li>
                @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                {
                    <li class="nav-item m-sm-2 fw-bold text-d">
                        <a href="#" class="nav-link nav-linkH" id="adminLink">
                            <i class="bi bi-person-lines-fill fst-normal"> Admin</i>
                        </a>
                    </li>
                }
            </ul>
            <div class="d-flex justify-content-end">
                <partial name="_LoginPartial" />
                
            </div>
        </div>
    </div>
</nav>
