@model Toeic.Models.ViewModels.CauhoiBTdocVM

<div class="container">
    <div class="row pt-4 pb-3 mx-2">
        <div class="col-6">
            <h1 class="text-primary">
                Quản lý bài tập đọc
            </h1>
        </div>
        <hr class="mx-3" style="width:98%" />
    </div>

    <div class="row pt-2 ms-2">
        <div class="col-6 col-md-3">
            <button id="btnAdd" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Thêm bài đọc mới
            </button>
        </div>
    </div>

    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="text-start">Id</th>
                    <th>TIÊU ĐỀ</th>
                    <th class="text-start">PART</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="BaitapdocModal" tabindex="-1" aria-labelledby="BaitapdocModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle"></h3>
                <button type="button" onclick="HideModal();" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <input type="hidden" id="Id" value="0" />
                <div class="mb-2">
                    <label for="Tieu_de" class="d-flex align-items-center fs-5 fw-semibold mb-2">
                        <span class="required">Tiêu đề</span>
                    </label>
                    <input type="text" id="Tieu_de" class="form-control" required />
                    <span id="Tieu_deError" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label for="Part" class="d-flex align-items-center fs-5 fw-semibold mb-2">
                        <span class="required">Part</span>
                    </label>
                    <select id="Part" class="form-control" required>
                        <option value="" disabled selected>--Chọn part--</option>
                        <option value="5">Part 5</option>
                        <option value="6">Part 6</option>
                        <option value="7">Part 7</option>
                    </select>
                    <span id="PartError" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label for="NewExcelFile" class="d-flex align-items-center fs-5 fw-semibold mb-2">
                        <span class="required">File Excel</span>
                    </label>

                    <!-- Hiển thị thông tin về file đã chọn trước đó -->
                    <div id="ExcelFileInfo" class="mb-2" style="display:none;">
                        <p>File hiện tại: <span id="ExcelFile"></span></p>
                    </div>

                    <!-- Input để upload file mới nếu muốn thay thế -->
                    <input type="file" class="form-control" id="NewExcelFile" />
                    <span id="ExcelFileError" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" onclick="HideModal();">Hủy</button>
                <button class="btn btn-primary" type="button" id="Save" onclick="Create();">Thêm</button>
                <button class="btn btn-success" type="button" id="Update" onclick="Update();" style="display:none">Cập nhật</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/adminn/js/mabtdoc.js"></script>
}