<div class="container py-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <a asp-area="Customer" asp-controller="Article" asp-action="ArticleDetail" class="news-link">
                <div class="news-item">
                    <img src="/customer/images/images.jpg" alt="Thumbnail">
                    <div class="flex-grow-1">
                        <h5 class="fw-bold">Tiêu đề tin tức</h5>
                        <p class="text-muted">Editor's Choice • Hôm nay</p>
                        <p>Mô tả ngắn gọn về tin tức để thu hút người đọc.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a asp-area="Customer" asp-controller="Article" asp-action="ArticleDetail" class="news-link">
                <div class="news-item">
                    <img src="/customer/images/images.jpg" alt="Thumbnail">
                    <div class="flex-grow-1">
                        <h5 class="fw-bold">Tiêu đề tin tức</h5>
                        <p class="text-muted">Editor's Choice • Hôm nay</p>
                        <p>Mô tả ngắn gọn về tin tức để thu hút người đọc.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
