@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-xl-3 mb-8">
        <div class="card bg-one">
            <div class="card-body">
                <div class="db-widgets d-flex align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-photo-video"></i>
                    </div>
                    <div class="db-info">
                        <h4>Tổng bộ hỏi Part1: </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-8">
        <div class="card bg-two">
            <div class="card-body">
                <div class="db-widgets d-flex align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-file-audio"></i>
                    </div>
                    <div class="db-info">
                        <h4>Tổng bộ câu hỏi Part2: </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-8">
        <div class="card bg-four">
            <div class="card-body">
                <div class="db-widgets d-flex align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-pen-alt"></i>
                    </div>
                    <div class="db-info">
                        <h4>Tổng bộ câu hỏi Part3: </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-8">
        <div class="card bg-four">
            <div class="card-body">
                <div class="db-widgets d-flex align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-pen-alt"></i>
                    </div>
                    <div class="db-info">
                        <h4>Tổng bộ câu hỏi Part4: </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-8">
        <div class="card bg-four">
            <div class="card-body">
                <div class="db-widgets d-flex align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-pen-alt"></i>
                    </div>
                    <div class="db-info">
                        <h4>Tổng bộ câu hỏi Part5: </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-8">
        <div class="card bg-four">
            <div class="card-body">
                <div class="db-widgets d-flex align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-pen-alt"></i>
                    </div>
                    <div class="db-info">
                        <h4>Tổng bộ câu hỏi Part6: </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-8">
        <div class="card bg-four">
            <div class="card-body">
                <div class="db-widgets d-flex align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-pen-alt"></i>
                    </div>
                    <div class="db-info">
                        <h4>Tổng bộ câu hỏi Part7: </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 