@model Bai_tap_doc

@{
    ViewData["Title"] = "_AddBaitapdocPartialView";
}


<!-- Modal -->
<div class="modal fade" role="dialog" tabindex="-1" id="addBaitapdoc" aria-labelledby="addBaitapdocLable" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Thêm đề mới</h5>
                @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <div class="modal-body">
                <form id="createForm" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Part" class="control-label">ETS - TEST - PART</label>
                        <input asp-for="Part" class="form-control" />
                        <span asp-validation-for="Part" class="text-danger"></span>
                    </div>
                    <input type="hidden" id="LastIndex" value="0" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#createForm').submit(function(event) {
            event.preventDefault(); // Ngăn chặn form gửi mặc định

            var formData = $(this).serialize(); // Lấy dữ liệu từ form

            $.ajax({
                type: 'POST',
                url: '/Admin/Quanlybaidoc/Create', // Đảm bảo URL này đúng với action trong controller
                data: formData,
                success: function(response) {
                    // Xử lý khi lưu thành công
                    alert('Thêm bài đọc mới thành công!');
                    $('#addBaitapdoc').modal('hide'); // Đóng modal
                    location.reload(); // Tải lại trang để cập nhật dữ liệu mới
                },
                error: function(error) {
                    // Xử lý khi có lỗi
                    alert('Có lỗi xảy ra, vui lòng thử lại.');
                }
            });
        }); // Xử lý nút Hủy để đóng modal
        $('[data-dismiss="modal"]').click(function() {
            $('#addBaitapdoc').modal('hide');
        });
    });
</script>
