@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />


    <!-- CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/admin/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/admin/assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="~/admin/assets/css/demo.css" />


    <link rel="stylesheet" href="//cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css" />

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">



</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-center text-primary"><i class="bi bi-layout-text-sidebar"></i> Admin </h3>
                </a>

                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">

                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Quản lý</h4>
                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link collapsed py-3" asp-area="Admin" asp-controller="Quanlybainge" asp-action="Index">
                                <i class="bi bi-headset"></i>
                                <p>Quản lý bài nge</p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link collapsed py-3" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-pen-fill"></i>
                                <p>Quản lý bài đọc</p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link collapsed py-3" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-layout-text-sidebar"></i>
                                <p>Quản lý đề thi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link collapsed py-3" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-folder2-open"></i>
                                <p>Quản lý bài từ vựng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link collapsed py-3" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-archive"></i>
                                <p>Quản lý bài ngữ pháp</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link collapsed py-3" asp-area="Admin" asp-controller="User" asp-action="Index">
                                <i class="bi bi-person-bounding-box "></i>
                                <p>Quản lý tài khoản</p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link collapsed py-3" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house-door "></i>
                                <p>Trang chủ</p>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-top:4rem">
                            <a  class="sidebar-link">
                                <i class="bi bi-box-arrow-left"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <!-- Main Component -->
                        <div class="main">
                            <nav class="navbar navbar-expand px-3">
                                <!-- Button for sidebar toggle -->
                                <button class="btn" type="button" data-bs-theme="dark">
                                    <i class="bi bi-list-ul"></i>
                                </button>
                            </nav>
                        </div>

                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   aria-expanded="false">

                                    <span class="profile-username">
                                        <span class="op-7">Hi,</span>
                                        <span class="fw-bold">@UserManager.GetUserName(User)!</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <li>
                                        <form id="logoutForm" class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button style="border: none" id="logout" type="submit" class="w-100 p-2 px-sm-2">
                                                <i class="bi bi-box-arrow-left"></i> Đăng xuất
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar -->
                <div class="container">
                    <main role="main" class="">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>

        <!-- Custom template | don't include it in your project! -->
        <div class="custom-template">
            <div class="title">Settings</div>
            <div class="custom-content">
                <div class="switcher">
                    <div class="switch-block">
                        <h4>Navbar Header</h4>
                        <div class="btnSwitch">
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="dark"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="blue"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="purple"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="light-blue"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="green"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="orange"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="red"></button>
                            <button type="button"
                                    class="selected changeTopBarColor"
                                    data-color="white"></button>
                            <br />
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="dark2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="blue2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="purple2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="light-blue2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="green2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="orange2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="red2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Sidebar</h4>
                        <div class="btnSwitch">
                            <button type="button"
                                    class="changeSideBarColor"
                                    data-color="white"></button>
                            <button type="button"
                                    class="selected changeSideBarColor"
                                    data-color="dark"></button>
                            <button type="button"
                                    class="changeSideBarColor"
                                    data-color="dark2"></button>
                            <button type="button"
                                    class="changeSideBarColor"
                                    data-color="red2"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-toggle">
                <i class="bi bi-gear"></i>
            </div>
        </div>
        <!-- End Custom template -->
    </div>
    <!--   Core JS Files   -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/admin/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/admin/assets/js/core/popper.min.js"></script>
    <script src="~/admin/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/admin/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/admin/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/admin/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/admin/assets/js/plugin/datatables/datatables.min.js"></script>

    @*     <!-- Bootstrap Notify -->
    <script src="~/admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script> *@

    <!-- jQuery Vector Maps -->
    <script src="~/admin/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/admin/assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/admin/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/admin/assets/js/kaiadmin.min.js"></script>

    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <script src="~/admin/assets/js/setting-demo.js"></script>
    <script src="~/admin/assets/js/demo.js"></script>

    <script src="~/admin/js/main.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script></script>
    <script src="//cdn.datatables.net/2.1.4/js/dataTables.min.js" asp-append-version="true"></script>

    <script src="~/admin/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>



