@{
    ViewData["Title"] = "Home Page";
}


<div class="row pb-3 bgC" >

    <h5 class=" mt-5 ">Luyện Nghe <i class="bi bi-headphones"></i></h5>
    <div class="col-lg-3 col-sm-6">
            <div class="row p-3" >
            <div class="col-12 p-1 border-primary mb-3">
                    <div class=" p-3 shadow border rounded bgC">
                        <div class="pb-0">
                            <div class="pl-1">
                            <p class=" text-center"> <b>Part 1</b></p>
                                <p class="text-center">
                                <span class="badge rounded-pill bg-primary">
                                    <i class="bi bi-images"></i> Mô tả hình ảnh</span>
                                </p>
                            </div>
                        </div>

                        <div>
                        <a asp-area="Customer" asp-controller="Luyentap" asp-action="Part1"
                               
                               class="btn btn-primary bg-gradient  form-control">
                                Luyện tập
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-3">
            <div class="col-12 p-1  border-primary mb-3">
                <div class="  p-3 shadow  border  rounded">

                    <div class=" pb-0">
                        <div class="pl-1">
                            <p class="  text-center"> <b>Part 2</b></p>
                        </div>
                        <p class="text-center">
                            <span class="badge rounded-pill bg-primary">
                                <i class="bi bi-chat-left-text"></i> Hỏi và trả lời
                            </span>
                        </p>
                    </div>

                    <div>
                        <a asp-area="Customer" asp-controller="Luyentap" asp-action="Part2"
                           class="btn btn-primary bg-gradient  form-control">
                            Luyện tập
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-3">
            <div class="col-12 p-1  border-primary mb-3">
                <div class="  p-3 shadow  border  rounded">

                    <div class=" pb-0">
                        <div class="pl-1">
 
                            <p class="  text-center"> <b>Part 3</b></p>
                        </div>
                        <p class="text-center">
                            <span class="badge rounded-pill bg-primary">
                                <i class="bi bi-people-fill"></i> Đoạn hội thoại
                            </span>
                        </p>
                    </div>

                    <div>
                        <a asp-area="Customer" asp-controller="Luyentap" asp-action="Part3"
                           class="btn btn-primary bg-gradient  form-control">
                            Luyện tập
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-3">
            <div class="col-12 p-1  border-primary mb-3">
                <div class="  p-3 shadow  border  rounded">

                    <div class=" pb-0">
                        <div class="pl-1">
                         
                            <p class="  text-center"> <b>Part 4</b></p>
                        </div>
                        <p class="text-center">
                            <span class="badge rounded-pill bg-primary">
                                <i class="bi bi-telephone"></i> Bài nói chuyện
                            </span>
                        </p>
                    </div>

                    <div>
                        <a asp-area="Customer" asp-controller="Luyentap" asp-action="Part4"
                           class="btn btn-primary bg-gradient  form-control">
                            Luyện tập
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class=" mt-5 ">Luyện Đọc <i class="bi bi-pencil-square"></i></h5>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-3">
            <div class="col-12 p-1  border-primary mb-3">
                <div class="  p-3 shadow  border  rounded">

                    <div class=" pb-0">
                        <div class="pl-1">
                   
                            <p class="text-center"> <b>Part 5</b></p>
                        </div>
                        <p class="text-center">
                            <span class="badge rounded-pill bg-primary">
                                <i class="bi bi-ui-checks"></i> Hoàn thành câu
                            </span>
                        </p>
                    </div>

                    <div>
                    <a asp-area="Customer" asp-controller="Luyentap" asp-action="Part5"
                           class="btn btn-primary bg-gradient  form-control">
                            Luyện tập
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-3">
            <div class="col-12 p-1 border-primary mb-3">
                <div class=" p-3 shadow  border  rounded">

                    <div class=" pb-0">
                        <div class="pl-1">
                       
                            <p class=" text-center"> <b>Part 6</b></p>
                        </div>
                        <p class="text-center">
                            <span class="badge rounded-pill bg-primary">
                                <i class="bi bi-journal-check"></i> Hoàn thành đoạn văn
                            </span>
                        </p>
                    </div>

                    <div>
                        <a asp-are="Customer" asp-controller="Luyentap" asp-action="Part6"
                           class="btn btn-primary bg-gradient  form-control">
                            Luyện tập
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-3">
            <div class="col-12 p-1 border-primary mb-3">
                <div class="  p-3 shadow  border  rounded">

                    <div class=" pb-0">
                        <div class="pl-1">
                     
                            <p class=" text-center"> <b>Part 7</b></p>
                        </div>
                        <p class="text-center">
                            <span class="badge rounded-pill bg-primary">
                                <i class="bi bi-file-earmark-text"></i> Đọc hiểu
                            </span>
                        </p>
                    </div>

                    <div>
                        <a asp-are="Customer" asp-controller="Luyentap" asp-action="Part7"
                           class="btn btn-primary bg-gradient  form-control">
                            Luyện tập
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class=" mt-5 ">Thi Thử <i class="bi bi-check2-square"></i></i></h5>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-3">
            <div class="col-12 p-1 border-primary mb-3">
                <div class="  p-3 shadow  border  rounded">

                    <div class="pb-0">
                        <div class="pl-1">

                            <p class=" text-center"> <b>Thi Thử Phần Nghe</b></p>
                        </div>
                        <p class="text-center">
                            <span class="badge rounded-pill bg-primary">
                                <i class="bi bi-headset"></i> Nghe
                            </span>
                        </p>
                    </div>

                    <div>
                        <a asp-are="Customer" asp-controller="Thi" asp-action="ThiNGHE"
                           class="btn btn-primary bg-gradient  form-control">
                            Thi
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-3">
            <div class="col-12 p-1 border-primary mb-3">
                <div class="  p-3 shadow  border  rounded">

                    <div class="pb-0">
                        <div class="pl-1">

                            <p class="  text-center"> <b>Thi Thử Phần Đọc</b></p>
                        </div>
                        <p class="text-center">
                            <span class="badge rounded-pill bg-primary">
                                <i class="bi bi-clipboard-check"></i> Đọc
                            </span>
                        </p>
                    </div>

                    <div>
                        <a asp-are="Customer" asp-controller="Thi" asp-action="ThiDOC"
                           class="btn btn-primary bg-gradient  form-control">
                            Thi
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-3">
            <div class="col-12 p-1 border-primary mb-3">
                <div class="  p-3 shadow  border  rounded">

                    <div class="pb-0">
                        <div class="pl-1">

                            <p class=" text-center"> <b>Thi Thử Toàn Bài</b></p>
                        </div>
                        <p class="text-center">
                            <span class="badge rounded-pill bg-primary">
                                <i class="bi bi-list-columns"></i> Toàn Bài
                            </span>
                        </p>
                    </div>

                    <div>
                        <a asp-are="Customer" asp-controller="Thi" asp-action="ThiTH"
                           class="btn btn-primary bg-gradient  form-control">
                            Thi
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

