<div class="container" >
    <div class="row pt-4 pb-3 mx-2">
        <div class="col-6">
            <h2 class="text-primary">
                Danh sách tài khoản
            </h2>
        </div>
        <hr class="mx-3" style="width:98%" />

    </div>

    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts {
    <script src="~/admin/js/user.js"></script>
}